<div class="blade-content __xlarge-wide">
  <div class="blade-inner">
    <div class="inner-block">
      <form class="form" name="newsArticleContentForm">
        <va-metaform registered-inputs="blade.metaFields" blade="blade" column-count="2" ng-init="setForm(newsArticleContentForm)"></va-metaform>
      </form>
    </div>
  </div>
</div>

<script type="text/ng-template" id="languageSelector.html">
  <div class="form-input">
    <ui-select ng-model="blade.currentEntity.languageCode" ng-disabled="disabled" required>
      <ui-select-match allow-clear="true" placeholder="{{ 'news.blades.news-article-content-details.placeholders.language' | translate }}">{{ $select.selected }}</ui-select-match>
      <ui-select-choices repeat="l in blade.languages | filter: $select.search">
        <span ng-bind-html="l | highlight: $select.search"></span>
      </ui-select-choices>
    </ui-select>
  </div>
</script>

<script type="text/ng-template" id="contentRichEdit.html">
  <input id="fileUploader" type="file" multiple style="display: none;" uploader="blade.fileUploader" nv-file-select />
  <textarea vc-uk-htmleditor ng-model="blade.currentEntity.content" file-uploader="blade.fileUploader" required></textarea>
</script>

<script type="text/ng-template" id="contentPreviewRichEdit.html">
  <div class="form-input">
    <textarea class="form-control" ng-model="blade.currentEntity.contentPreview"></textarea>
  </div>
</script>
