<div class="blade-content blade-content __small-wide">
  <div class="blade-inner">
    <div class="inner-block">
      <form class="form" name="newsArticleForm">
        <va-metaform registered-inputs="blade.metaFields" blade="blade" column-count="2" ng-init="setForm(newsArticleForm)"></va-metaform>
        <va-widget-container ng-if="!blade.isNew" group="newsArticleDetails" blade="blade" gridster-opts="gridsterOpts" data="blade.currentEntity" class="form-group"></va-widget-container>
      </form>
    </div>
  </div>
</div> 

<script type="text/ng-template" id="storeSelector.html">
  <div class="form-input">
    <ui-select ng-model="blade.currentEntity.storeId" required>
      <ui-select-match allow-clear placeholder="{{ 'news.blades.news-article-details.placeholders.store' | translate }}">{{$select.selected.name}}</ui-select-match>
      <ui-select-choices repeat="store.id as store in blade.stores | filter: { name: $select.search }">
        <span ng-bind-html="store.name | highlight: $select.search"></span>
      </ui-select-choices>
    </ui-select>
  </div>
</script>